.ps_overlay{
    z-index:90;
    width:100%;
    height:100%;
    position:fixed;
    top:0px;
    left:0px;
    opacity:0.5;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
.ps_container{
	width:100%; margin:auto;
	height:350px;
	position:absolute; 
	top:50%;
	margin-top:-175px;
	left:50%;
	margin-left:-240px;
	z-index:100;
}
.ps_container img{
	position:absolute;
	top:50%;
	left:50%;
}
a.ps_close{
	background:#000 url(../images/close.png) no-repeat center center;
	cursor:pointer;
	width:56px;
	height:56px;
	position:fixed;
	right:10px;
	top:10px;
	z-index:1000;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;	
	opacity:0.6;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);	
}
/*a.ps_next_photo{
	position:absolute;
	top:50%;
	left:50%;
	width:56px;
	height:56px; border:2px solid yellow;
	margin:-28px 0 0 -28px;
	z-index:200;
	cursor:pointer;
	background:url(../images/rightarr.png) 50% 50%;
	opacity:0.6;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);	
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
a.ps_next_photo:hover,
a.ps_close:hover{
	opacity:0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);	
}*/
.ps_slider{
	/*width:100%;*/
	height:500px;
	position:relative;
	margin:auto;  /*width:84%;*/
	width:900px;
}
.ps_slider a.next,
.ps_slider a.prev{
	position:absolute;
    background-position:center center;
    background-repeat:no-repeat;
    width:51px;
    height:51px;
    top:30%;
    margin-top:-10px;
    opacity:0.6;
    cursor:pointer;
    outline:none;
}
.ps_slider a.prev:hover,
.ps_slider a.next:hover{
    opacity:0.9;
}
.ps_slider a.disabled,
.ps_slider a.disabled:hover{
    opacity:0.4;
    cursor:default;
}
.ps_slider a.prev{
    left:-30px;
    background-image:url(../images/leftarr.png);
}
.ps_slider a.next{
    right:-30px;
    background-image:url(../images/rightarr.png);
}
.ps_album{

	width:18%; margin:0 4%;text-align:left;
	position:absolute;
	top:0px;
	cursor:pointer; 
	
}
.ps_slider .ps_album:hover{
		/*background:gray;*/
}
.ps_slider .ps_album img{height:217px; width:160px;}
.ps_slider .ps_album .ps_desc{	display:block;	margin:10px 0px;overflow:hidden;text-overflow:ellipsis; }
.ps_slider .ps_album:hover .ps_desc{background-image:none;}
.ps_slider .ps_album .ps_desc span{display:block;margin:0px 10px 10px 10px;padding-top:5px;}
.ps_slider .ps_album .ps_desc h2{color:#939393;  letter-spacing:0px; font-size:17px;}
.ps_slider .ps_album .ps_desc  a{ background:url(../images/arrow_gray.png) no-repeat 5px 0px; padding:0px 5px 10px 35px; color:#4f9ec3; font-size:15px;}
.ps_slider .ps_album .ps_desc span{ text-align:left; margin:0px; padding:0px;}
.ps_slider .ps_album .ps_desc  a:hover{ background:url(../images/arrow_gray_h.png) no-repeat 5px 0px; padding:0px 5px 10px 35px; color:#000;}


.ps_slider .loading{
	background:#121212 url(../images/loading.gif) no-repeat 50% 50%;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	opacity:0.7;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
