<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true">
	<property resource="logback.properties" />
	<appender name="ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/exp.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_PATH}/exp.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date;%-5level;[%thread];%X{login};%logger{36};%msg%n</Pattern>
		</layout>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%date;%-5level;[%thread];%X{login};%logger{36};%msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="org.hibernate" level="WARN" />
	<logger name="net.sf.dozer" level="WARN" />
	<logger name="org.dozer" level="WARN" />
	<logger name="org.spring" level="WARN" />
	<logger name="ch.qos.logback" level="WARN" />

	<root level="INFO">
		<appender-ref ref="ROLLING" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>

